html, body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
  }
  
  body, #root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbddee;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body {
    min-height: 100vh;
  }
  
  i {
    text-align: center;
    transition: 0.15s;
  }
  i.fa-forward {
    padding-left: 4px;
  }
  i.fa-backward {
    padding-right: 4px;
  }
  i.fa-play {
    padding-left: 3px;
  }
  
  .player {
    position: relative;
    display: flex;
    width: 32rem;
    height: 64rem;
    font-size: 1.6rem;
    overflow: hidden;
  }
  
  .btn--play {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 1.2rem;
    background-color: rgba(68, 68, 68, 0.2);
    border: none;
    transition: 0.15s;
  }
  .btn--play i {
    opacity: 0.7;
  }
  .btn--play:not(:disabled):hover {
    border-radius: 50%;
  }
  .btn--play:not(:disabled):hover i {
    opacity: 1;
  }
  .btn--play:focus {
    outline: none;
    box-shadow: 0 0 0.5rem #c4c4c4;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 0 1rem;
    background-color: #FDFDFD;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  .list__wrapper {
    padding: 2rem 0 6rem;
    flex: 1;
    width: calc(100% + 1.7rem);
    overflow-y: auto;
  }
  .list__wrapper.bg .list__item {
    transform: translate3d(0, 2rem, -2rem) scale(0.9);
    opacity: 0.5;
  }
  .list__wrapper.bg .list__cover {
    transform: translateX(-2rem);
    opacity: 0;
  }
  .list__wrapper.bg .info__duration {
    opacity: 0;
  }
  .list__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.6rem 3rem 0.6rem 1.5rem;
    transition: 0.3s ease-in;
    box-sizing: border-box;
    background-color: #FDFDFD;
  }
  .list__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(88, 61, 145, 0.2), rgba(88, 61, 145, 0.02));
    opacity: 0;
    transition: 0.3s ease-out;
    transform: translateX(-100%);
  }
  .list__item:not(:disabled):hover {
    transition-delay: 0s !important;
  }
  .list__item:not(:disabled):hover, .list__item.active {
    z-index: 2;
  }
  .list__item:not(:disabled):hover:before, .list__item.active:before {
    transform: translateX(0);
    opacity: 1;
  }
  .list__cover {
    position: relative;
    z-index: 2;
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 0;
    filter: drop-shadow(0 0.3rem 0.3rem rgba(196, 196, 196, 0.2));
    transition: 0.3s;
  }
  .list__cover img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .list__title {
    position: relative;
    display: flex;
    align-items: center;
    height: 8rem;
    font-size: 2.4rem;
    padding: 0 1.5rem 0 3rem;
    color: #FDFDFD;
    background-color: #583D91;
    margin: 0;
    border-radius: 0 0 4rem 0;
  }
  .list__action {
    position: absolute;
    z-index: 10;
    bottom: -2.5rem;
    right: 2rem;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    background-color: #FDFDFD;
    box-shadow: 0 0.5rem 1rem rgba(88, 61, 145, 0.3);
    transition: 0.15s;
    opacity: 0;
    transform: scale(0);
    animation: scale 0.3s forwards;
  }
  .list__action i {
    color: #583D91;
    font-size: 2rem;
  }
  .list__action:hover {
    box-shadow: 0 0.3rem 0.6rem rgba(88, 61, 145, 0.4);
  }
  
  .info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    width: calc(100%);
    height: 100%;
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    transition: 0.15s;
  }
  .info__author, .info__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .info__author, .info__duration {
    color: rgba(68, 68, 68, 0.6);
    font-size: 1.2rem;
  }
  .info__name {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 auto 0.5rem 0;
  }
  .info__status {
    position: absolute;
    bottom: -0.5rem;
    left: 1.5rem;
    display: flex;
    width: calc(100% - 3rem);
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: rgba(253, 253, 253, 0.5);
  }
  .info__status span {
    height: 100%;
    background-color: rgba(253, 253, 253, 0.8);
  }
  .info__duration {
    transition: 0.3s;
  }
  
  .song {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #583D91;
    border-radius: 2rem;
    padding-bottom: 8rem;
    box-sizing: border-box;
    transform: translateY(-58rem);
    transition: 0.45s;
    box-shadow: 0 0rem 1rem rgba(43, 0, 99, 0.4);
    animation: popup 0.45s forwards;
  }
  .song__cover-wrapper, .song__info {
    width: 100%;
    height: 50%;
    flex: 1;
  }
  .song__cover-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.3s;
  }
  .song__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem 1rem 50% 50%;
    box-shadow: 0 0.5rem 0.5rem rgba(68, 68, 68, 0.3);
    transition: 0.3s;
    transition-delay: 0.3s;
  }
  .song__cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
  .song__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
  }
  .song__name {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4rem;
    flex: 1;
  }
  .song__name span {
    text-align: center;
    background: -webkit-linear-gradient(left, #FDFDFD 50%, rgba(253, 253, 253, 0.4) 50%) right;
    background-size: 200%;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    animation: fill 15s forwards linear;
  }
  .song__author {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 500;
    -webkit-text-fill-color: rgba(253, 253, 253, 0.6);
  }
  .song__panel .btn--play, .song__actions .btn--play {
    margin: 0;
    color: #FDFDFD;
    background-color: transparent;
    transition: 0.3s;
  }
  .song__panel .btn--play:not(:disabled):hover, .song__actions .btn--play:not(:disabled):hover {
    background-color: rgba(253, 253, 253, 0.3);
  }
  .song__panel {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .song__panel .btn--play {
    height: 5rem;
    width: 5rem;
  }
  .song__panel .btn--play i {
    font-size: 2.4rem;
  }
  .song__panel .btn--play:not(:last-child) {
    margin-right: 2rem;
  }
  .song__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }
  .song__actions .btn--play {
    opacity: 0;
    animation-delay: 0.45s;
    animation: horizontalShift forwards 0.6s;
  }
  .song__actions .btn--play i {
    font-size: 1.8rem;
  }
  .song__actions .btn--play:first-child {
    transform: translateX(-100%);
  }
  .song__actions .btn--play:last-child {
    transform: translateX(100%);
  }
  .song.simple {
    transform: translateY(-8rem);
  }
  .song.simple .song__cover-wrapper {
    transform: scale(0.8);
    transition: 0.05s;
    border-radius: 1.2rem;
    flex: 0;
  }
  .song.simple .song__cover {
    transform: scale(0.8);
    transition: 0.03s;
    border-radius: 50%;
  }
  .song.simple .song__info {
    height: 10%;
    flex: none;
    flex-direction: row;
    padding: 3rem 1.5rem 1rem;
  }
  .song.simple .song__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }
  .song.simple .song__name span {
    text-transform: none;
    background-color: #FDFDFD;
    font-size: 1.6rem;
    animation: none;
    line-height: 1.2;
  }
  .song.simple .song__author {
    position: static;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .song.simple .song__panel {
    width: auto;
  }
  .song.simple .song__panel .btn--play {
    margin: 0;
    height: 3.6rem;
    width: 3.6rem;
  }
  .song.simple .song__panel .btn--play i {
    font-size: 1.4rem;
  }
  .song.simple .song__panel .btn--play.prev {
    display: none;
  }
  .song.simple .backward i {
    transform: rotate(-180deg);
  }
  
  .backward {
    cursor: pointer;
    position: absolute;
    top: -1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    z-index: 3;
    color: #583D91;
    background-color: #FDFDFD;
    transition: 0.15s;
    box-shadow: 0 0 1rem rgba(88, 61, 145, 0.2);
  }
  .backward i {
    font-size: 1.8rem;
    transition: 0.15s;
  }
  
  @keyframes horizontalShift {
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes scale {
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes fill {
    100% {
      background-position: left;
    }
  }
  @keyframes popup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fullpopup {
    100% {
      transform: translateY(-94%);
    }
  }